/* *, *::before, *::after {
  box-sizing: border-box; } */

.sales-report-card {
    font-family: "Open Sans", sans-serif;
    margin: 0;
}
.sales-report-card h1,
.sales-report-card h2,
.sales-report-card h3 {
    font-weight: 300;
    line-height: 1.125;
    margin: 0 0 1rem;
}
.sales-report-card h1 {
    font-size: 2.62rem;
}
.sales-report-card h2 {
    font-size: 1.62rem;
}
.sales-report-card h3 {
    font-weight: 400;
    font-size: 1.36rem;
}
.sales-report-card p {
    font-weight: 300;
    margin: 0 0 1rem;
}
.sales-report-card p code,
.sales-report-card dl code {
    background: #f5f2f0;
    font-weight: 300;
    padding: 0.25em 0.375em;
    border-radius: 0.5em;
}
.sales-report-card a {
    color: #77f;
    text-decoration: none;
}
.sales-report-card a:hover,
.sales-report-card a:focus {
    color: #339;
}
.sales-report-card pre {
    overflow: auto;
}
.sales-report-card pre[class*="language-"] {
    padding: 1rem 0.5rem;
    margin: 0;
}
.sales-report-card code {
    font-size: 0.75em;
    font-family: "Roboto Mono" !important;
}
.sales-report-card label {
    font-weight: 600;
    font-size: 0.875rem;
    margin: 0 0 0.25rem;
    display: block;
}
.sales-report-card input {
    color: #888;
    font: inherit;
    font-size: 0.875rem;
    border: 1px solid #ccc;
    border-radius: 0.25em;
    padding: 0.5em 0.75em;
    margin: 0 0 1rem;
}
.sales-report-card button {
    color: white;
    font: inherit;
    cursor: pointer;
    font-size: 0.75rem;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0 1em;
    height: 2.25rem;
    border: none;
    border-radius: 0.125em;
    margin-bottom: 1rem;
    background: #009688;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.2);
    transition: 0.25s ease-out;
}
.sales-report-card button:hover,
.sales-report-card button:focus {
    background-color: #00897b;
}
.sales-report-card dl {
    max-width: 40rem;
    margin: 0 auto 10vh;
}
.sales-report-card dt,
.sales-report-card dd {
    margin: 0;
    padding: 0.25em 0;
    font-weight: 300;
}
.sales-report-card dt {
    font-size: 1.125rem;
}
.sales-report-card dt em,
.sales-report-card dd em {
    opacity: 0.3;
    font-weight: 400;
}
.sales-report-card dt strong em,
.sales-report-card dd strong em {
    font-weight: 700;
}
.sales-report-card dd + dt {
    margin-top: 0.75rem;
    padding-top: 1rem;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.sales-report-card .container {
    max-width: 64rem;
    padding: 0 5vh;
    margin: 0 auto;
}

.sales-report-card .intro {
    text-align: center;
    padding: 5vh 0 10vh;
}
.sales-report-card .intro .container {
    max-width: 40rem;
}
.sales-report-card .intro pre {
    margin-bottom: 2rem;
}
.sales-report-card .intro__header p {
    font-size: 0.875rem;
}

.sales-report-card .section {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.sales-report-card .section .section__header {
    margin-bottom: 12vh;
}
.sales-report-card .section__header {
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    max-width: 30rem;
    margin: 0 auto 6vh;
    padding-top: 10vh;
}

.sales-report-card .footer {
    text-align: center;
}
.sales-report-card .footer p {
    font-size: 0.875rem;
}

.sales-report-card .example {
    margin-bottom: 16vh;
}
.sales-report-card .example__desc {
    text-align: center;
    margin-bottom: 5vh;
    padding: 1rem;
}

.sales-report-card .tabs {
    border: 1px solid #ddd;
    border-radius: 0.25rem;
}
.sales-report-card .tabs.show-preview .tabs__list li[data-type="preview"] {
    background: white;
    border-bottom-color: white;
}
.sales-report-card .tabs.show-js .tabs__list li[data-type="js"],
.sales-report-card .tabs.show-html .tabs__list li[data-type="html"],
.sales-report-card .tabs.show-css .tabs__list li[data-type="css"] {
    background: #f5f2f0;
    border-bottom-color: #f5f2f0;
}
.sales-report-card .tabs.show-preview .tabs__content[data-type="preview"],
.sales-report-card .tabs.show-js .tabs__content[data-type="js"],
.sales-report-card .tabs.show-html .tabs__content[data-type="html"],
.sales-report-card .tabs.show-css .tabs__content[data-type="css"] {
    display: block;
}
.sales-report-card .tabs__list {
    display: table;
    table-layout: fixed;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
}
.sales-report-card .tabs__list li {
    width: 33.333%;
    background: #eee;
    display: table-cell;
    vertical-align: middle;
    border-bottom: 1px solid #ddd;
}
.sales-report-card .tabs__list li:not(:last-child) {
    border-right: 1px solid #ddd;
}
.sales-report-card .tabs__list li:first-child:nth-last-child(4),
.sales-report-card .tabs__list li:first-child:nth-last-child(4) ~ * {
    width: 16.666%;
}
.sales-report-card .tabs__list li a {
    color: #888;
    display: block;
    padding: 0.75rem 1rem;
    font-weight: 300;
    font-size: 0.75rem;
    text-decoration: none;
    text-transform: uppercase;
}
.sales-report-card .tabs__wrapper {
    display: table;
    table-layout: fixed;
    width: 100%;
}
.sales-report-card .tabs__wrapper::after {
    content: "";
    display: table;
    clear: both;
}
.sales-report-card .tabs__content {
    float: left;
    display: none;
    box-sizing: border-box;
    min-height: 18rem;
    width: 100%;
}
.sales-report-card .tabs__content[data-type="preview"] {
    padding: 1rem;
}
.sales-report-card .tabs__content pre {
    height: 100%;
}

@media screen and (min-width: 52.5rem) {
    .sales-report-card .tabs--full .tabs__list li {
        width: 33.333%;
    }
    .sales-report-card .tabs--full .tabs__list li:first-child:nth-last-child(4),
    .sales-report-card
        .tabs--full
        .tabs__list
        li:first-child:nth-last-child(4)
        ~ * {
        width: 25%;
    }
    .sales-report-card .tabs--full .tabs__list li[data-type="preview"] a {
        pointer-events: initial;
    }
    .sales-report-card .tabs--full .tabs__content {
        width: 100%;
    }
    .sales-report-card .tabs--full .tabs__content[data-type="preview"] {
        border-right: 0;
        display: none;
    }
    .sales-report-card
        .tabs--full.show-preview
        .tabs__content[data-type="preview"] {
        display: block;
    }
    .sales-report-card
        .tabs:not(.tabs--full)
        .tabs__list
        li[data-type="preview"] {
        background: white;
        border-bottom-color: white;
    }
    .sales-report-card
        .tabs:not(.tabs--full)
        .tabs__list
        li[data-type="preview"]
        a {
        pointer-events: none;
    }
    .sales-report-card
        .tabs:not(.tabs--full).show-preview
        .tabs__list
        li[data-type="js"] {
        background: #f5f2f0;
        border-bottom-color: #f5f2f0;
    }
    .sales-report-card
        .tabs:not(.tabs--full).show-preview
        .tabs__content[data-type="js"] {
        display: block;
    }
    .sales-report-card .tabs__list li:first-child {
        width: 50%;
    }
    .sales-report-card .tabs__list li:first-child:nth-last-child(3) ~ * {
        width: 25%;
    }
    .sales-report-card .tabs__list li:first-child:nth-last-child(4) ~ * {
        width: 16.666%;
    }
    .sales-report-card .tabs__content {
        width: 50%;
    }
    .sales-report-card .tabs__content[data-type="preview"] {
        display: block;
        border-right: 1px solid #ddd;
    }
}
