.sidebar .sidebar-close-btn {
    display: none;
}
.sidebar-custom-overlay {
    display: none;
}
@media screen and (max-width: 991.9px) {
    .sidebar {
        position: relative;
    }
    .sidebar.js-sidebar {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: 1000;
    }
    .sidebar .sidebar-close-btn {
        display: block;
        position: absolute;
        top: 1rem;
        right: -3rem;
        opacity: 0;
        visibility: hidden;
        border: 1.59px solid #222e3c;
        background-color: transparent;
        color: #222e3c;
        scale: 1;
        transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out,
            background-color 0.2s ease-in-out, color 0.2s ease-in-out,
            scale 0.2s ease-in-out;
    }
    .sidebar .sidebar-close-btn:hover {
        background-color: #222e3c;
        color: #fff;
        scale: 1.15;
    }
    .sidebar .sidebar-close-btn:focus {
        background-color: #222e3c;
        color: #fff;
        outline: none;
        border: 1.59px solid #222e3c;
    }
    .sidebar .sidebar-close-btn.show {
        opacity: 1;
        visibility: visible;
    }
    .sidebar-custom-overlay {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgb(34, 46, 60, 0.5);
        backdrop-filter: blur(9px);
        width: 100%;
        height: 100%;
        z-index: 999;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
    }
    .sidebar-custom-overlay.show {
        opacity: 1;
        visibility: visible;
    }
}
@media screen and (max-width: 374.9px) {
    .sidebar .sidebar-close-btn {
        top: 1.1rem;
        right: 1.5rem;
        border: 1.59px solid #ffffff !important;
        color: #ffffff !important;
        z-index: 1001;
    }
    .sidebar .sidebar-close-btn:focus {
        background-color: #ffffff;
        color: #222e3c !important;
    }
}
@media screen and (max-width: 285px) {
    .sidebar {
        direction: ltr;
        max-width: auto;
        min-width: auto;
        width: 100%;
    }
    .sidebar-custom-overlay {
        display: none;
    }
}
